<template>
    <div>
        <v-flex xs12 v-for="(member, i) in memberList.value" :key="i" v-model="member.name">
            <v-layout v-if="member.status === true">
                <v-flex xs12>
                    <v-card style="border-radius:8px;">
                        <v-layout justify-end>
                            <v-flex xs1>
                              <div v-if="member.img === 'default' || member.img === null">
                                <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                                     style="width: 75px;margin-left: 10px;border-radius: 50%"/>
                              </div>
                              <div v-else>
                                <img :src="'/img/avatars/' + member.img + '.jpg'" alt="Avatar"
                                     style="width: 65px;margin-left: 10px;border-radius: 50px"/>
                              </div>
                            </v-flex>
                            <v-flex xs4>
                                <div class="title">{{ member.name }}</div>
                                <div>{{ member.jobLevel }}</div>
                              <div class="primary--text"> Rate: {{ member.records.rateScore }} / 5
                                <span class="green--text" v-if="member.records.rateScore === 0"><strong><i class="fas fa-medal"></i>new member </strong></span>
                              </div>
                            </v-flex>
                            <v-divider inset vertical></v-divider>
                            <v-flex xs5>
                                <div>Recommendation role:</div>
                                <div class="green--text">{{ member.label }}</div>
                            </v-flex>
                            <v-flex xs2>
                                <v-btn color="orange_base white--text" style="border-radius:8px;"
                                       @click="selectMember(member.id, member.label)">Add</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-flex>
            </v-layout>
            <br>
        </v-flex>
    </div>
</template>

<script>
import UserMemberListAvailable from '../../js/projects/UserMemberListAvailable'

export default UserMemberListAvailable
</script>
