<template>
    <v-layout>
        <v-flex xs12>
            <v-card style="border-radius:8px;">
                <v-layout>
                    <v-flex xs1>
                      <div v-if="img === 'default' || img === null">
                        <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                             style="width: 75px;margin-left: 10px;border-radius: 50%"/>
                      </div>
                      <div v-else>
                        <img :src="'/img/avatars/' + img + '.jpg'" alt="Avatar"
                             style="width: 75px;margin-left: 10px;border-radius: 50px"/>
                      </div>
                    </v-flex>
                    <v-flex xs4>
                        <div class="title">{{ memberName }}</div>
                        <div>{{ jobLevel }}</div>
                      <div v-if="memberRecord !== null">
                        <div class="primary--text"> Rate: {{ memberRecord.rateScore }} / 5
                          <span class="green--text" v-if="memberRecord.rateScore === 0"><strong><i class="fas fa-medal"></i>new member</strong></span>
                        </div>
                      </div>
                      <div v-else>
                        <div class="primary--text"> Rate: 0 / 5
                        </div>
                      </div>
                    </v-flex>

                    <v-divider inset vertical></v-divider>

                    <v-flex xs5>
                        <div>Role:</div>
                        <h5 class="green--text">{{ labels }}</h5>
                    </v-flex>
                    <v-flex justify-end>
                        <div v-if="calculateDateRange === false || statusOnProject === false && projectStatus === false">
                            <v-dialog v-model="dialog" max-width="50%">
                                <v-btn depressed color="orange_base white--text" style="border-radius: 8px;" slot="activator" dark>Open Review</v-btn>
                                <v-card class="white" style="border-radius:8px;">
                                    <member-review-detail
                                      :member-id="id"
                                      :member-name="memberName"
                                      :img="img"
                                      :labels="labels"
                                      :job-level="jobLevel"
                                      :member-records="memberRecord"
                                      :user-role="userRole"
                                    >
                                    </member-review-detail>
                                </v-card>
                            </v-dialog>
                        </div>
                      <div v-else-if="calculateDateRange === true && statusOnProject === false && projectStatus === true && memberStatus === true">
                        <v-btn depressed large color="success" style="border-radius: 8px;" slot="activator"
                               @click="showReactivateAlert(projectId, id)">Reactivate</v-btn>
                        <user-revoke-member></user-revoke-member>
                      </div>
                      <div v-else-if="calculateDateRange === true && statusOnProject === false && projectStatus === true &&
                      memberStatus === false">
                        <v-btn depressed large color="secondary" style="border-radius: 8px;" slot="activator" disabled
                               @click="showReactivateAlert(projectId, id)">Reactivate</v-btn>
                        <user-revoke-member></user-revoke-member>
                      </div>
                        <div v-else-if="projectStatus === true">
                            <v-btn depressed large color="error" style="border-radius: 8px;" slot="activator"
                                   @click="showRevokeAlert(projectId, id)">Revoke</v-btn>
                            <user-revoke-member></user-revoke-member>
                        </div>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import UserMemberCard from '../../js/projects/UserMemberCard'

export default UserMemberCard
</script>
