<template>
  <v-container grid-list-xl>
    <user-search-project></user-search-project>

    <br>

    <!-- PROJECT LIST -->
    <v-layout>
      <v-flex xs4>
        <div class="title">Project List</div>
      </v-flex>
      <v-spacer></v-spacer>
      <v-flex xs1>
        <v-menu offset-y>
          <v-btn icon slot="activator">
            <v-icon>fas fa-filter</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile
              v-for="(item, index) in sortItems"
              :key="index"
              @click="sortProjectList(item.query)"
            >
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>

        </v-menu>
      </v-flex>
    </v-layout>

    <v-flex xs12 v-for="(project,index) in this.projects.value.content"
            :key="index"
    >
      <v-layout>
        <v-flex xs12>
          <v-card flat style="border-radius:8px;">
            <v-expansion-panel>
              <v-expansion-panel-content style="border-radius:8px;">
                <div slot="header">
                 <v-layout>
                   <v-flex xs1>
                     <br>
                     <v-icon large color="blue">far fa-file-alt</v-icon>
                   </v-flex>
                   <v-flex xs3>
                     <br>
                     <h4><b>{{ project.name }}</b></h4>
                     <br>
                   </v-flex>

                   <v-divider vertical inset></v-divider>

                   <v-flex xs3>
                     <br>
                     <h6>Project Domain:
                       <span v-for="(projectDomain, i) in project.projectDomains" :key="i">
                         {{ projectDomain.name }}<span v-if="i < project.projectDomains.length-1">,</span>
                       </span>
                     </h6>
                   </v-flex>

                   <v-divider vertical inset></v-divider>

                   <v-flex xs3>
                     <h6>{{ project.startDate | moment("DD MMM YYYY") }} - {{ project.endDate | moment("DD MMM YYYY")}}</h6>
                     <h6 v-if="getCurrentDate >= project.startDate && project.endDate >= getCurrentDate && project.status !== false" class="green_accent">
                       <strong>On Going</strong></h6>
                     <h6 v-else-if="getCurrentDate < project.startDate && project.endDate >= getCurrentDate && project.status !== false" class="orange_base--text">
                       <strong>Planned</strong></h6>
                     <h6 v-else class="red--text"><strong>Ended</strong></h6>
                   </v-flex>
                 </v-layout>
                </div>
                <v-flex xs10>
                  <v-timeline dense clipped style="margin-left:5px;">
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>Duration:</v-flex>
                        <v-flex xs5><strong>{{ project.endDate | moment("from", project.startDate) }}</strong></v-flex>
                      </v-layout>
                    </v-timeline-item>
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>Start Date:</v-flex>
                        <!--<v-flex xs5><strong>{{ project.startDate }}</strong></v-flex>-->
                        <v-flex xs5><strong>{{ project.startDate | moment("DD MMM YYYY") }}</strong></v-flex>
                      </v-layout>
                    </v-timeline-item>
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>End Date:</v-flex>
                        <!--<v-flex xs5><strong>{{ project.endDate }}</strong></v-flex>-->
                        <v-flex xs5><strong>{{ project.endDate | moment("DD MMM YYYY") }}</strong></v-flex>
                      </v-layout>
                    </v-timeline-item>
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>Number of Individuals:</v-flex>
                        <v-flex xs5>
                          <strong>
                            <span v-for="(member, index) in sortProjectMembers" :key="index">
                              <span v-if="member.id === project.id">
                                {{ member.memberList.length }}
                                <span v-if="member.memberList.length > 1">members</span>
                                <span v-else>member</span>
                              </span>
                            </span>
                          </strong>
                        </v-flex>
                      </v-layout>
                    </v-timeline-item>
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>Detail Role Needed:</v-flex>
                        <v-flex xs5>
                          <strong>
                            <span v-for="(label, index) in project.projectLabelNeededs" :key="index">
                              {{ label.count }} {{ label.memberLabel.name }}<span v-if="index < project.projectLabelNeededs.length - 1">,</span>
                            </span>
                          </strong>
                        </v-flex>
                      </v-layout>
                    </v-timeline-item>
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>Description:</v-flex>
                        <v-flex xs5><strong>{{ project.description }}</strong></v-flex>
                      </v-layout>
                    </v-timeline-item>
                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                      <v-layout justify-space-between>
                        <v-flex xs7>Members:</v-flex>
                        <v-flex xs5>
                            <span v-for="(member, index) in sortProjectMembers" :key="index">
                              <span v-if="member.id === project.id">
                                <ul class="avatars">
                                <span v-for="(member2, index2) in member.memberList" :key="index2">
                                  <li class="avatars__item">
                                    <div v-if="member2.img === 'default' || member2.img === null">
                                      <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" class="avatars__img" />
                                    </div>
                                    <div v-else>
                                      <img :src="'/img/avatars/' + member2.img + '.jpg'" class="avatars__img" />
                                    </div>
                                  </li>
                                </span>
                                </ul>
                              </span>
                            </span>
                        </v-flex>
                      </v-layout>
                    </v-timeline-item>
                  </v-timeline>
                </v-flex>
                <v-flex xs12>
                  <v-layout justify-end>
                    <v-flex>
                        <v-btn
                          flat
                          large
                          v-if="project.endDate >= getCurrentDate && project.status !== false"
                          color="error" style="border-radius:8px;"
                          @click="markProjectAsDoneModal(project.id)">
                          Mark As Done</v-btn>
                    </v-flex>
                    <v-flex xs2>
                        <v-btn outline large color="orange_base white--text" style="border-radius:8px;" @click="getProjectDetail(project.id)">Open</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <!-- PROJECT LIST -->

    <div class="text-xs-center" v-if="this.projects.value.totalPages > 1">
      <v-pagination
              v-model="page"
              :length="4"
              circle
      ></v-pagination>
    </div>
  </v-container>
</template>

<script>
import UserProjectList from '../../js/projects/UserProjectList'

export default UserProjectList
</script>

<style>
.green_accent {
  color: green;
}

/*AVATAR ROW WIDGET*/
ul.avatars {
  display: flex ; /* Causes LI items to display in row. */
  list-style-type: none ;
  padding: 0px 7px 0px 0px ;
  z-index: 1 ; /* Sets up new stack-container. */
}
li.avatars__item {
  height: 49px ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  position: relative ;
  width: 42px ; /* Forces flex items to be smaller than their contents. */
}
/*
    These zIndex values will only be relative to the contents of the UL element,
    which sets up its own stack container. As such, these will only be relevant
    to each other, not to the page at large.
    --
    NOTE: We could theoretically get around having to set explicit zIndex values
    by using "flex-direction: row-reverse" and using the natural stacking order
    of the DOM; however, to do that, we'd have to reverse the order of the HTML
    elements, which feels janky and unnatural.
*/
li.avatars__item:nth-child( 1 ) { z-index: 9 ; }
li.avatars__item:nth-child( 2 ) { z-index: 8 ; }
li.avatars__item:nth-child( 3 ) { z-index: 7 ; }
li.avatars__item:nth-child( 4 ) { z-index: 6 ; }
li.avatars__item:nth-child( 5 ) { z-index: 5 ; }
li.avatars__item:nth-child( 6 ) { z-index: 4 ; }
li.avatars__item:nth-child( 7 ) { z-index: 3 ; }
li.avatars__item:nth-child( 8 ) { z-index: 2 ; }
li.avatars__item:nth-child( 9 ) { z-index: 1 ; }
/*
    These items are all 49px wide while the flex-item (in which they live) is
    only 42px wide. As such, there will be several pixels of overflow content,
    which will be displayed in a reverse-stacking order based on above zIndex.
*/
img.avatars__img,
span.avatars__initials,
span.avatars__others {
  background-color: #596376 ;
  /*border: 2px solid #1F2532 ;*/
  border-radius: 100px 100px 100px 100px ;
  color: #FFFFFF ;
  display: block ;
  font-family: sans-serif ;
  font-size: 12px ;
  font-weight: 100 ;
  height: 45px ;
  line-height: 45px ;
  text-align: center ;
  width: 45px ;
}
span.avatars__others {
  background-color: #1E8FE1 ;
}
</style>
