<template>
    <v-container grid-list-xl>
        <member-project-card
          :project-name="projectDetail.value.projectName"
          :project-description="projectDetail.value.description"
          :project-domain-card="projectDetail.value.projectDomain"
          :start-date="projectDetail.value.startDate"
          :end-date="projectDetail.value.endDate"
          :member-label-card="projectDetail.value.labelNeeded"
          :members="projectDetail.value.members"
          :project-status="projectDetail.value.status"
        ></member-project-card>
        <user-member-list></user-member-list>
    </v-container>
</template>

<script>
import UserProjectDetail from '../../js/projects/UserProjectDetail'

export default UserProjectDetail
</script>
