<template>
    <!-- SEARCH BAR -->
    <v-toolbar style="border-radius:8px;" light>
      <v-autocomplete
      :loading= "loading"
      :items="items"
      :search-input.sync="search"
      v-model="select"
      cache-items
      class="mx-3"
      flat
      hide-no-data
      hide-details
      label="Type and enter to search project.."
      solo
      @keyup.enter="searchProject(select)"
      >
      </v-autocomplete>
      <v-dialog v-model="dialog" max-width="800px">
        <v-btn depressed color="orange_base white--text" style="border-radius: 8px;" slot="activator" dark>
          <i class="fas fa-plus"></i>
          <strong> Add Project</strong>
        </v-btn>
        <v-card class="base">
          <create-project-form></create-project-form>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <!-- SEARCH BAR -->
</template>

<script>
import UserSearchProject from '../../js/projects/UserSearchProject'

export default UserSearchProject
</script>
