<template>
    <v-container grid-list-xl>
        <!-- SEARCH BAR -->
        <user-search-members></user-search-members>

        <br>

        <user-member-list-available :project-id="projectId"></user-member-list-available>
        <!-- SEARCH BAR -->
    </v-container>
</template>

<script>
import UserChangeTeamMemberModal from '../../js/projects/UserChangeTeamMemberModal'

export default UserChangeTeamMemberModal
</script>
