<template>
    <v-container grid-list-xl>
        <v-layout justify-end v-if="project.value.status === true">
          <v-dialog v-model="dialog">
            <v-btn depressed color="orange_base white--text" style="border-radius: 5px" slot="activator">Add Member
            </v-btn>
            <v-card class="base">
              <user-change-team-member-modal :project-id="project.value.projectId"></user-change-team-member-modal>
            </v-card>
          </v-dialog>
        </v-layout>
        <v-layout>
            <v-flex xs12>
                <div class="title">Members</div>
            </v-flex>
        </v-layout>
        <br>
        <div v-if="!renderComponent">
          <v-flex xs12 v-for="(member, i) in project.value.members" :key="i">
            <div>
              <user-member-card
                :project-id="project.value.projectId"
                :id="member.id"
                :img="member.img"
                :member-name="member.name"
                :job-level="member.jobLevel"
                :labels="member.labelOnProject"
                :records="member.records"
                :status-on-project="member.statusOnProject"
                :project-status="project.value.status"
                :member-status="member.status"
                @updated="reRenderComponent"
              >
              </user-member-card>
              <br>
            </div>
          </v-flex>
        </div>
    </v-container>
</template>

<script>
import UserMemberList from '../../js/projects/UserMemberList'

export default UserMemberList
</script>
