<template>
    <v-layout>
        <v-flex xs12>
            <v-card style="border-radius:8px;">
                <v-layout>
                    <v-flex xs1>
                      <div v-if="img === 'default' || img === null">
                        <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                             style="width: 75px;margin-left: 10px;border-radius: 50%"/>
                      </div>
                      <div v-else>
                        <img :src="'/img/avatars/' + img + '.jpg'" alt="Avatar"
                             style="width: 75px;margin-left: 10px;border-radius: 50px"/>
                      </div>
                    </v-flex>
                    <v-flex xs4>
                        <div class="title">{{ memberName }}</div>
                        <div>{{ jobLevel }}</div>
                      <div>You rate your teammate: <span class="primary--text">{{ records.rateScore }} / 5</span></div>
                    </v-flex>

                    <v-divider inset vertical></v-divider>

                    <v-flex xs5>
                        <div>Role:</div>
                        <h5 class="green--text">{{ labels }}</h5>
                    </v-flex>
                    <v-flex v-if="statusReview === false && projectStatus === false">
                        <v-dialog v-model="dialog" max-width="50%">
                            <v-btn
                              depressed
                              large
                              color="orange_base white--text"
                              style="border-radius: 8px;" slot="activator"
                              dark
                            >Review</v-btn>
                            <v-card class="white" style="border-radius:8px;">
                              <member-review-detail
                                :project-id="projectId"
                                :member-id="id"
                                :img="img"
                                :member-name="memberName"
                                :job-level="jobLevel"
                                :labels="labels"
                                :records="records"
                                :user-role="userRole"
                              ></member-review-detail>
                            </v-card>
                        </v-dialog>
                    </v-flex>
                    <v-flex v-else-if="statusReview === false && projectStatus === true">
                      <v-btn depressed large style="border-radius: 8px" disabled>Review</v-btn>
                  </v-flex>
                    <v-flex v-else>
                      <v-btn depressed large style="border-radius: 8px" disabled>Reviewed</v-btn>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import MemberReviewCard from '../../js/review/MemberReviewCard'

export default MemberReviewCard
</script>
