<template>
    <v-container grid-list-xl>
       <div v-if="userRole === 'Member'">
         <v-layout>
           <v-flex xs4>
             <div class='display-1'>Member's Review</div>
           </v-flex>
           <v-flex xs2></v-flex>
           <v-divider inset vertical></v-divider>
           <v-flex xs1>
             <div v-if="img === 'default' || img === null">
               <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                    style="width: 65px;margin-left: 10px;border-radius: 50%"/>
             </div>
             <div v-else>
               <img :src="'/img/avatars/' + img + '.jpg'" alt="Avatar"
                    style="width: 65px;margin-left: 10px;border-radius: 50px"/>
             </div>
           </v-flex>
           <v-flex xs5 style='margin-left:20px'>
             <div class='headline'>{{ memberName }}</div>
             <div>{{ jobLevel }}</div>
             <div> Role: <span class="green--text"><strong>{{ labels }}</strong></span></div>
           </v-flex>
         </v-layout>
         <v-layout>
           <v-flex xs10 offset-xs1>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Responsibility:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.responsibilityScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Communication:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.communicationScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Team Work:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.teamWorkScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Problem Solving:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.problemSolvingScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Leadership:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.leadershipScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Technical:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.technicalScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
             <v-layout justify-space-between>
               <v-flex xs3>
                 <div><strong>Domain:</strong></div>
               </v-flex>
               <v-flex xs9>
                 <v-layout>
                   <v-flex xs3>
                     <div>Very Bad</div>
                   </v-flex>
                   <v-flex xs6>
                     <v-rating v-model="params.domainScore"
                               :length="length"
                               :empty-icon="emptyIcon"
                               :full-icon="fullIcon"
                               :hover="hover"
                               color="info"></v-rating>
                   </v-flex>
                   <v-flex xs3>
                     <div>Very Good</div>
                   </v-flex>
                 </v-layout>
               </v-flex>
             </v-layout>
           </v-flex>
         </v-layout>
         <v-layout>
           <v-flex xs12>
             <v-layout justify-end>
               <v-flex xs3>
                 <v-btn color="orange_base white--text" style="border-radius:8px;" @click="postReview">Simpan</v-btn>
               </v-flex>
             </v-layout>
           </v-flex>
         </v-layout>
       </div>
       <div v-else-if="userRole === 'Manager'">
        <v-layout>
          <v-flex xs4>
            <div class='display-1'>Member's Review</div>
          </v-flex>
          <v-flex xs2></v-flex>
          <v-divider inset vertical></v-divider>
          <v-flex xs1>
            <div v-if="img === 'default' || img === null">
              <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                   style="width: 65px;margin-left: 10px;border-radius: 50%"/>
            </div>
            <div v-else>
              <img :src="'/img/avatars/' + img + '.jpg'" alt="Avatar"
                   style="width: 65px;margin-left: 10px;border-radius: 50px"/>
            </div>
          </v-flex>
          <v-flex xs5 style='margin-left:20px'>
            <div class='headline'>{{ memberName }}</div>
            <div>{{ jobLevel }}</div>
            <div> Role: <span class="green--text"><strong>{{ labels }}</strong></span></div>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs10 offset-xs1>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Responsibility:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.responsibilityScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              :hover="hover"
                              half-increments
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Communication:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.communicationScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              half-increments=""
                              :hover="hover"
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Team Work:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.teamWorkScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              half-increments=""
                              :hover="hover"
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Problem Solving:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.problemSolvingScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              half-increments
                              :hover="hover"
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Leadership:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.leadershipScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              half-increments
                              :hover="hover"
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Technical:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.technicalScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              half-increments
                              :hover="hover"
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout justify-space-between>
              <v-flex xs3>
                <div><strong>Domain:</strong></div>
              </v-flex>
              <v-flex xs9>
                <v-layout>
                  <v-flex xs3>
                    <div>Very Bad</div>
                  </v-flex>
                  <v-flex xs6>
                    <v-rating v-model="memberRecords.domainScore"
                              :length="length"
                              :empty-icon="emptyIcon"
                              :full-icon="fullIcon"
                              :half-icon="fullIcon"
                              half-increments
                              :hover="hover"
                              readonly
                              color="info"></v-rating>
                  </v-flex>
                  <v-flex xs3>
                    <div>Very Good</div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </div>
    </v-container>
</template>

<script>
import MemberReviewDetail from '../../js/review/MemberReviewDetail'

export default MemberReviewDetail
</script>
