<template>
    <v-container grid-list-xl>
      <member-project-card
        :project-name="projectDetail.value.projectName"
        :project-description="projectDetail.value.description"
        :project-domain-card="projectDetail.value.projectDomain"
        :start-date="projectDetail.value.startDate"
        :end-date="projectDetail.value.endDate"
        :member-label-card="projectDetail.value.labelNeeded"
        :members="projectDetail.value.members"
        :project-status="projectDetail.value.status"
      ></member-project-card>
        <v-layout>
            <v-flex xs12>
                <div class="title">Your Teammate</div>
            </v-flex>
        </v-layout>
        <br>
        <v-flex xs12 v-for="(member, i) in projectDetail.value.members" :key="i">
          <div v-if="member.id !== memberId">
            <member-review-card
              :project-id="projectDetail.value.projectId"
              :project-status="projectDetail.value.status"
              :id="member.id"
              :img="member.img"
              :member-name="member.name"
              :job-level="member.jobLevel"
              :labels="member.labelOnProject"
              :records="projectReviewData.value[i].records"
              :status-on-project="member.statusOnProject"
              :status-review="projectReviewData.value[i].statusReview"
            ></member-review-card>
            <br>
          </div>
        </v-flex>
    </v-container>
</template>

<script>
import MemberReviewList from '../../js/review/MemberReviewList'

export default MemberReviewList
</script>
