<template>
    <v-layout>
            <v-flex xs12>
                <v-card flat style="border-radius:8px;">
                    <v-expansion-panel>
                        <v-expansion-panel-content style="border-radius:8px;">
                            <div slot="header">
                                <v-layout>
                                    <v-flex xs1>
                                        <v-icon large color="blue">far fa-file-alt</v-icon>
                                    </v-flex>
                                    <v-flex xs3>
                                        <h4><b>{{ projectName }}</b></h4>
                                        <div>Project Domain:
                                            <span v-for="(domain, index) in projectDomainCard" :key="index">
                                                {{ domain.name }}<span v-if="index < projectDomainCard.length - 1">,</span>
                                            </span>
                                        </div>
                                    </v-flex>

                                    <v-divider inset vertical></v-divider>

                                    <v-flex xs3>
                                        <h5><strong>Start Date: </strong><span>{{ startDate | moment("DD MMM YYYY") }}</span></h5>
                                        <h5>
                                            <strong>End Date: </strong>
                                            <span v-if="endDate !== null">{{ endDate | moment("DD MMM YYYY") }}</span>
                                            <span v-else>not determined</span>
                                        </h5>
                                    </v-flex>

                                    <v-divider inset vertical></v-divider>

                                    <v-flex xs4>
                                        <h5>
                                            <strong>Number of Individuals: </strong>
                                          {{ numberOfIndividuals }}
                                          <span v-if="members.length > 1">members</span>
                                            <span v-else>member</span>
                                        </h5>
                                    </v-flex>
                                </v-layout>
                            </div>
                            <v-flex xs10>
                                <v-timeline dense clipped style="margin-left:5px;">
                                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                                        <v-layout justify-space-between>
                                            <v-flex xs7>Duration:</v-flex>
                                            <v-flex xs5><strong>
                                                <div v-if="endDate !== null">
                                                    {{ endDate | moment("from", startDate) }}
                                                </div>
                                                <div v-else>
                                                    not determined
                                                </div>
                                                </strong>
                                            </v-flex>
                                        </v-layout>
                                    </v-timeline-item>
                                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                                        <v-layout justify-space-between>
                                            <v-flex xs7>Start Date:</v-flex>
                                            <v-flex xs5><strong>{{ startDate | moment("DD MMM YYYY") }}</strong></v-flex>
                                        </v-layout>
                                    </v-timeline-item>
                                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                                        <v-layout justify-space-between>
                                            <v-flex xs7>End Date:</v-flex>
                                            <v-flex xs5><strong>
                                                <div v-if="endDate !== null">
                                                    <span>{{ endDate | moment("DD MMM YYYY") }}</span>
                                                </div>
                                                <div v-else>
                                                    <span>not determined</span>
                                                </div>
                                            </strong></v-flex>
                                        </v-layout>
                                    </v-timeline-item>
                                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                                        <v-layout justify-space-between>
                                            <v-flex xs7>Number of Individuals:</v-flex>
                                            <v-flex xs5>
                                                <strong>
                                                  {{ numberOfIndividuals }}
                                                  <span v-if="members.length > 1">members</span>
                                                <span v-else>member</span>
                                                </strong>
                                            </v-flex>
                                        </v-layout>
                                    </v-timeline-item>
                                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                                        <v-layout justify-space-between>
                                            <v-flex xs7>Detail Role Needed:</v-flex>
                                            <v-flex xs5>
                                                <strong>
                                                    <span v-for="(label, index) in memberLabelCard" :key="index">
                                                        {{ label.count }} {{ label.memberLabel }}<span v-if="index < memberLabelCard.length - 1">,</span>
                                                    </span>
                                                </strong>
                                            </v-flex>
                                        </v-layout>
                                    </v-timeline-item>
                                    <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                                        <v-layout justify-space-between>
                                            <v-flex xs7>Description:</v-flex>
                                            <v-flex xs5><strong>{{ projectDescription }}</strong></v-flex>
                                        </v-layout>
                                    </v-timeline-item>
                                </v-timeline>
                            </v-flex>
                          <v-flex xs12>
                            <v-layout>
                              <v-flex>
                                <v-btn
                                  flat
                                  large
                                  color="orange_base"
                                  v-if="projectStatus && projectStatus !== false && authUser === 'Manager'"
                                  @click="editProject"
                                >
                                  Edit Project
                                </v-btn>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-card>
            </v-flex>
    </v-layout>
</template>

<script>
import MemberProjectCard from '../../js/review/MemberProjectCard'

export default MemberProjectCard
</script>
