<template>
  <v-container grid-list-xl>
    <div class="headline">Add New Project</div>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card style="border-radius: 10px;">
          <v-flex xs10 offset-xs1>
            <v-form ref="form" lazy-validation>
              <div class="title">Project Name</div>
              <v-text-field v-model="params.projectName" :rules="projectNameRules" placeholder="e.g. Mom's Birthday Party"></v-text-field>
              <v-layout row>
                <v-flex xs4>
                  <div class="title">Start Date</div>
                  <v-menu
                    ref="startDateMenu"
                    :close-on-content-click="false"
                    v-model="startDateMenu"
                    :nudge-right="40"
                    :return-value.sync="params.startDate"
                    lazy transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="params.startDate"
                      placeholder="YYYY-MM-DD"
                      prepend-icon="fa-calendar-alt"
                      readonly
                    ></v-text-field>
                    <v-date-picker v-model="params.startDate" @input="$refs.startDateMenu.save(params.startDate)"></v-date-picker>
                  </v-menu>
                  <span v-if="params.startDate !== null && params.endDate !== null">
                    <span v-if="params.startDate <= params.endDate"> The project will take time
                        <b class="blue--text">{{ params.endDate | moment("from", params.startDate) }}</b>
                    </span>
                    <span v-else v-show="durationError()"></span>
                  </span>
                    <span v-if="params.startDate !== null && params.endDate === null && params.durationDetermined === true">
                        <span>The project duration will be determined later</span>
                    </span>
                </v-flex>
                <v-flex xs4>
                  <div class="title">End Date</div>
                    <div v-if="params.durationDetermined === false">
                     <v-menu
                     ref="endDateMenu"
                      :close-on-content-click="false"
                     v-model="endDateMenu"
                      :nudge-right="40"
                     :return-value.sync="params.endDate"
                     lazy transition="scale-transition"
                     offset-y
                     full-width
                      min-width="290px"
                      >
                      <v-text-field
                       slot="activator"
                       v-model="params.endDate"
                       placeholder="YYYY-MM-DD"
                        prepend-icon="fa-calendar-alt"
                       readonly
                      ></v-text-field>
                      <v-date-picker v-model="params.endDate" @input="$refs.endDateMenu.save(params.endDate)"></v-date-picker>
                      </v-menu>
                    </div>
                    <div v-else>
                     <v-menu
                     ref="endDateMenu"
                      :close-on-content-click="false"
                     v-model="endDateMenu"
                      :nudge-right="40"
                     lazy transition="scale-transition"
                     offset-y
                     full-width
                      min-width="290px" disabled
                      >
                      <v-text-field
                       slot="activator"
                       placeholder="YYYY-MM-DD"
                        prepend-icon="fa-calendar-alt"
                       readonly disabled
                      ></v-text-field>
                      <v-date-picker @input="$refs.endDateMenu.save(null)"></v-date-picker>
                      </v-menu>
                    </div>
                </v-flex>
                <!--<v-flex xs4>-->
                  <!--<v-checkbox :label="`Duration has not been determined`" v-model="params.durationDetermined"></v-checkbox>-->
                <!--</v-flex>-->
              </v-layout>

              <v-layout row>
                <v-flex xs5>
                  <div class="title">Role Needed</div>
                      <div v-for="(input, index) in role" :key="index">
                          <v-layout row>
                              <v-flex xs8>
                                  <v-select
                                          :items="labelItems"
                                          placeholder="Choose Role"
                                          v-model="input.name"
                                  ></v-select>
                              </v-flex>
                              <v-flex xs3>
                                  <v-text-field type="number" v-model="input.amount" class="text-xs-center"></v-text-field>
                              </v-flex>
                              <v-flex xs1>
                                  <v-btn v-if="index !== 0" flat icon color="blue" @click="deleteRow(index)">
                                      <v-icon>fa-trash-alt</v-icon>
                                  </v-btn>
                              </v-flex>
                          </v-layout>
                      </div>
                  <!-- Add Role Button -->
                  <div v-if="params.labelNeeded.length < labelItems.length">
                      <button class="btn btn-secondary" type="button" style="border-radius: 8px;" @click="addRole"><i class="fa fa-plus"></i> Add Role</button>
                  </div>
                    <div v-else>
                        <button disabled class="btn btn-secondary" type="button" style="border-radius: 8px;" @click="addRole"><i class="fa fa-plus"></i> Add Role</button>
                    </div>
                  <!-- Add Role Button -->
                </v-flex>
              </v-layout>

              <!-- PROJECT TYPE ROW -->
              <v-layout row>
                <v-flex xs10>
                  <div class="title">Project Domain</div>
                    <v-combobox
                            v-model="domainName"
                            :items="domainItems"
                            :search-input.sync="search"
                            hide-selected
                            multiple
                            persistent-hint
                            small-chips
                            placeholder="You can add more than one type"
                    >
                        <template slot="no-data">
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-combobox>
                </v-flex>
              </v-layout>
              <!-- PROJECT TYPE ROW -->

              <!-- DESCRIPTION ROW -->
              <v-layout row>
                <v-flex xs12>
                  <div class="title">Project Description</div>
                  <v-textarea placeholder="Inspire your team!" counter="140" v-model="params.description"></v-textarea>
                </v-flex>
              </v-layout>
              <!-- DESCRIPTION ROW -->

              <v-layout row>
                <v-flex xs12>
                  <v-layout row>
                    <v-flex xs12>
                      <v-btn class="orange_base white--text" style="border-radius: 8px;" right @click="goToRecommendation">Create Project</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-form>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UserCreateProject from '../../js/form/UserCreateProject'

export default UserCreateProject
</script>

<style scoped>
#project-type-btn {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
}

#project-type-btn label {
  float:left;
  width:4.0em;
}

#project-type-btn label span {
   text-align:center;
    padding:3px 0px;
    display:block;
}

#project-type-btn input {
  position:absolute;
  top:-20px;
}

#project-type-btn input:checked + span {
  background-color:#911;
  color:#fff;
}

#project-type-btn input:checked:hover + span {
  background-color:#c11;
  color:#fff;
}

div label input {
  margin-right: 100px;
}
</style>
