<template>
  <v-container grid-list-xl>
    <div class="headline">Edit Project</div>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card style="border-radius: 10px;">
          <v-flex xs10 offset-xs1>
            <v-form ref="form" lazy-validation>
              <div class="title">Project Name</div>
              <v-text-field v-model="projectDetail.value.projectName" :value="projectDetail.value.projectName"  disabled readonly></v-text-field>
              <v-layout row>
                <v-flex xs4>
                  <div class="title">Start Date</div>
                  <v-menu
                    v-model="startDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="formattedStartDate"
                      prepend-icon="fa-calendar-alt"
                      readonly disabled
                    ></v-text-field>
                    <v-date-picker v-model="formattedStartDate" @input="startDateMenu = false"></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs4>
                  <div class="title">End Date</div>
                  <v-menu
                    ref="endDateMenu"
                    v-model="endDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="params.endDate"
                      prepend-icon="fa-calendar-alt"
                    ></v-text-field>
                    <v-date-picker v-model="params.endDate" no-title @input="$refs.endDateMenu.save(params.endDate)"></v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>

              <!-- PROJECT TYPE ROW -->
              <v-layout row>
              <v-flex xs10>
                <div class="title">Project Domain</div>
                <v-combobox
                  v-model="projectDomainData"
                  chips
                  multiple
                  readonly
                  disabled
                ></v-combobox>
              </v-flex>
              </v-layout>
              <!-- PROJECT TYPE ROW -->

              <!-- DESCRIPTION ROW -->
              <v-layout row>
                <v-flex xs12>
                  <div class="title">Project Description</div>
                  <v-textarea v-model="projectDetail.value.description" readonly disabled></v-textarea>
                </v-flex>
              </v-layout>
              <!-- DESCRIPTION ROW -->

              <v-layout row>
                <v-flex xs12>
                  <v-layout row>
                    <v-flex xs12>
                      <v-btn class="orange_base white--text" style="border-radius: 8px;" @click="updateProjectEndDate">Edit Project</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-form>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UserEditProject from '../../js/form/UserEditProject'

export default UserEditProject
</script>
