<template>
  <v-container grid-list-xl>
    <v-layout>
      <v-flex xs10 offset-xs2>
        <v-layout>
          <v-flex xs4>
            <img src="/img/icons/idea.png" width="50%">
          </v-flex>

          <v-divider inset vertical></v-divider>

          <v-flex xs4 style="margin-left: 10px;">
            <div class="display-2"><b class="orange_base--text">T</b>EAM</div>
            <div class="display-2"><b class="orange_base--text">A</b>SSIGNMENT</div>
            <div class="display-2"><b class="orange_base--text">M</b>ANAGEMENT</div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs8 offset-xs2>
        <v-card style="border-radius: 8px">
          <v-flex>
            <v-text-field
              label="E-mail"
              v-model="params.email"
              placeholder="type your email here"
              required
            >
            </v-text-field>
            <v-text-field
              label="Password"
              v-model="params.password"
              placeholder="don't tell your password to anyone"
              required
              type="password"
            >
            </v-text-field>

            <v-btn depressed color="info" @click="postLoginRequest">LOGIN</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import LoginPage from '../../js/user/LoginPage'
export default LoginPage
</script>
