<template>
  <v-card style="border-radius: 8px">
    <v-card-title>
      <span class="headline">Edit Member</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Name" required v-model="propData.memberName"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Email" required v-model="propData.memberEmail"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Password" type="password" required v-model="params.password"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
            <v-select
              :items="memberLabelItems"
              label="Label"
              required
              v-model="propData.memberLabel"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6>
            <v-autocomplete
              :items="['Associate SDE', 'SDE', 'Senior SDE']"
              label="Job Level"
              v-model="propData.memberJobLevel"
            ></v-autocomplete>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-select
              :items="['Manager', 'Member']"
              label="Role"
              required
              v-model="selectedRole"
            ></v-select>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click="updateMember">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import UserEditMember from '../../js/user/UserEditMember'

export default UserEditMember
</script>
