<template>
  <v-container grid-list-xl>
    <user-search-members></user-search-members>

    <br>

    <v-flex justify-end>
      <v-dialog v-model="dialog" max-width="800px">
        <v-btn depressed color="orange_base white--text" style="border-radius: 8px;" slot="activator" dark>
          <i class="fas fa-plus"></i>
          <strong> Add New Member</strong>
        </v-btn>
        <user-add-new-member></user-add-new-member>
      </v-dialog>
    </v-flex>

    <v-flex xs12 v-for="(member,index) in memberList.value"
            :key="index"
    >
      <v-layout>
        <v-flex xs12>
          <v-card flat style="border-radius:8px;">
            <v-expansion-panel>
              <v-expansion-panel-content style="border-radius:8px;">
                <div slot="header">
                  <v-layout>
                    <v-flex xs1>
                      <div v-if="member.img === 'default' || member.img === null">
                        <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                             style="width: 75px;margin-left: 10px;border-radius: 50%"/>
                      </div>
                      <div v-else>
                        <img :src="'/img/avatars/' + member.img + '.jpg'" alt="Avatar"
                             style="width: 75px;margin-left: 10px;border-radius: 50px"/>
                      </div>
                    </v-flex>
                    <v-flex xs3>
                      <div class="headline">{{ member.name }} </div>
                      <div>{{ member.jobLevel }}</div>
                      <div class="primary--text"> Rate: {{ member.records.rateScore }} / 5
                        <span class="green--text" v-if="member.records.rateScore === 0"><strong><i class="fas fa-medal"></i>new member</strong></span>
                      </div>
                    </v-flex>

                    <v-divider vertical inset></v-divider>

                    <v-flex xs3>
                      <br>
                      <h6>Domain:
                        <span v-for="(projectHistory, index) in member.projectHistory" :key="index">
                                  <div v-if="member.projectHistory.length !== 0">
                                    <span class="primary--text" v-for="(domainHistory, index2) in projectHistory.projectDomain" :key="index2">
                                      {{ domainHistory.name }}<span class="primary--text" v-if="index2 < projectHistory.projectDomain.length - 1">,</span>
                                    </span>
                                  </div>
                                  <div v-else>
                                    <span class="success--text" v-if="member.records.rateScore === 0">new member 🎊</span>
                                  </div>
                                </span>
                      </h6>
                    </v-flex>

                    <v-divider vertical inset></v-divider>

                    <!--<v-flex xs3>-->
                      <!--<h6>{{ project.startDate | moment("DD MMM YYYY") }} - {{ project.endDate | moment("DD MMM YYYY")}}</h6>-->
                      <!--<h6 v-if="getCurrentDate >= project.startDate && project.endDate >= getCurrentDate && project.status !== false" class="green_accent">-->
                        <!--<strong>On Going</strong></h6>-->
                      <!--<h6 v-else-if="getCurrentDate < project.startDate && project.endDate >= getCurrentDate && project.status !== false" class="orange_base&#45;&#45;text">-->
                        <!--<strong>Planned</strong></h6>-->
                      <!--<h6 v-else class="red&#45;&#45;text"><strong>Ended</strong></h6>-->
                    <!--</v-flex>-->
                  </v-layout>
                </div>
                  <v-flex xs10>
                    <v-card-text>
                      <v-timeline dense clipped>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Responsibility</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.responsibilityScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Communication</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.communicationScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Team Work</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.teamWorkScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Problem Solving</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.problemSolvingScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Leadership</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.leadershipScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Domain Review:</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.domainScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Technical Review:</v-flex>
                            <v-flex xs5><strong class="blue_accent">{{ member.records.technicalScore }}</strong></v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Recent Project:</v-flex>
                            <v-flex xs5>
                              <h5>
                                 <span v-for="(history, i) in member.projectHistory" :key="i" class="primary--text">
                         {{ history.projectName }}<span v-if="i < member.projectHistory.length-1">,</span>
                       </span>
                              </h5>
                            </v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7>Status:</v-flex>
                            <v-flex xs5>
                              <div v-if="member.status === true">
                                <v-icon small color="green">fas fa-circle</v-icon>
                                <strong> Available</strong>
                              </div>
                              <div v-else>
                                <v-icon small color="red">fas fa-circle</v-icon>
                                <strong> Out of Work</strong>
                              </div>
                            </v-flex>
                          </v-layout>
                        </v-timeline-item>
                        <v-timeline-item
                          class="mb-3"
                          color="grey"
                          icon-color="grey lighten-2"
                          small>
                          <v-layout justify-space-between>
                            <v-flex xs7><h5>Recommendation Role:</h5></v-flex>
                            <v-flex xs5><h4 class="orange_accent">{{member.label}}</h4></v-flex>
                          </v-layout>
                        </v-timeline-item>
                      </v-timeline>
                    </v-card-text>
                  </v-flex>
                  <v-flex justify-end>
                    <v-dialog max-width="800px">
                      <v-btn large outline color="orange_base" style="border-radius: 8px" slot="activator">Edit</v-btn>
                      <user-edit-member
                        :member-name="member.name"
                        :member-label="member.label"
                        :member-email="member.email"
                        :member-job-level="member.jobLevel"
                        :member-id="member.id"
                        :member-img="member.img"
                      >
                      </user-edit-member>
                    </v-dialog>
                  </v-flex>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-container>
</template>

<script>
import UserAllMembers from '../../js/user/UserAllMembers'

export default UserAllMembers
</script>
