<template>
    <v-toolbar style="border-radius:8px;" light>
        <v-layout>
            <v-flex xs12>
                <v-autocomplete
                        :loading= "loading"
                        :items="items"
                        :search-input.sync="search"
                        v-model="select"
                        cache-items
                        class="mx-3"
                        flat
                        hide-no-data
                        hide-details
                        label="Type and enter to search member.."
                        solo
                        @keyup.enter="searchMember(select)"
                >
                </v-autocomplete>
            </v-flex>
        </v-layout>
    </v-toolbar>
</template>

<script>
import UserSearchMembers from '../../js/user/UserSearchMembers'

export default UserSearchMembers
</script>
