<template>
  <v-card style="border-radius: 8px">
    <v-card-title>
      <span class="headline">Add New Member</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Name" required v-model="params.name"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-text-field label="Email" required v-model="params.email"></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field label="Password" type="password" required v-model="params.password"></v-text-field>
          </v-flex>
          <v-flex xs12 sm6>
            <v-select
              :items="memberLabelItems"
              label="Label"
              required
              v-model="selectedMemberLabel"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6>
            <v-autocomplete
              :items="['Associate SDE', 'SDE', 'Senior SDE']"
              label="Job Level"
              v-model="selectedJobLevel"
            ></v-autocomplete>
          </v-flex>
          <v-flex xs12 sm6 md6>
            <v-select
              :items="['Manager', 'Member']"
              label="Role"
              required
              v-model="selectedRole"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6 md4>
            <v-text-field
              label="Select Image"
              @click='pickFile'
              v-model='imageName'
              prepend-icon='fas fa-upload'
              hint="best image in 100x100 px"
            >

            </v-text-field>
            <input
              type="file"
              style="display: none"
              ref="image"
              accept="image/*"
              @change="onFilePicked"
            >
          </v-flex>
          <v-flex xs12 sm6 md2>
            <img :src="imageUrl" height="75" style="border-radius: 50%" v-if="imageUrl"/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click="postNewMember">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import UserAddNewMember from '../../js/user/UserAddNewMember'

export default UserAddNewMember
</script>
