<template>
    <v-container grid-list-xl>
        <v-layout row wrap>
          <v-flex xs3>
            <v-card color="orange_base" class="white--text" style="border-radius: 8px">
              <v-card-title primary-title>
                <div>
                  <div class="title">Planned Projects</div>
                  <div class="headline">{{ plannedProjects }}</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex xs3>
            <v-card color="success" class="white--text" style="border-radius: 8px">
              <v-card-title primary-title>
                <div>
                  <div class="title">On Going Projects</div>
                  <div class="headline">{{ onGoingProjects }}</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex xs3>
            <v-card color="error" class="white--text" style="border-radius: 8px">
              <v-card-title primary-title>
                <div>
                  <div class="title">Ended Projects</div>
                  <div class="headline">{{ endedProjects }}</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import UserDashboard from '../../js/user/UserDashboard'

export default UserDashboard

</script>
