<template>
    <v-footer>
      <v-layout justify-end>
        <v-flex xs10>
          <span style="float: right;">Made with ❤ by Radit & Satya &copy; 2019 </span>
        </v-flex>
      </v-layout>
    </v-footer>
</template>
