<template>
    <v-toolbar
      app
      :clipped-left="clipped"
      class="white"
    >
      <v-toolbar-side-icon @click.stop="performDrawer"></v-toolbar-side-icon>
      <v-btn icon @click.stop="performMiniVariant">
        <v-icon v-html="miniVariant ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></v-icon>
      </v-btn>
      <!-- <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>fas fa-globe</v-icon>
      </v-btn> -->
      <!-- <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>fas fa-minus</v-icon>
      </v-btn> -->
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <!--<v-btn icon>-->
        <!--<v-icon>fas fa-user</v-icon>-->
      <!--</v-btn>-->
      <v-menu :nudge-width="100">
        <v-toolbar-title slot="activator">
          <img :src="'/img/avatars/' + userImage + '.jpg'" alt="Avatar"
               style="width: 40px;margin-left: 10px;border-radius: 50px"/>
          <span> {{ username }}</span>
        </v-toolbar-title>

        <v-list>
          <v-list-tile
            v-for="item in items"
            :key="item"
            @click="getLogoutRequest"
          >
            <v-list-tile-title v-text="item"></v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
</template>

<script>
import Header from '../../js/base/Header'

export default Header
</script>
