<template>
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
      class="primary"
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, i) in navigationList"
          :key="i"
          @click="goToLink(item.url)"
        >
          <v-list-tile-action>
            <v-icon color="white" v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <b><v-list-tile-title v-text="item.name" class="white--text"></v-list-tile-title></b>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
import Sidebar from '../../js/base/Sidebar'

export default Sidebar
</script>
