<template>
  <v-container grid-list-xl>
    <!-- SEARCH BAR -->
    <user-search-member></user-search-member>

    <br>

    <user-other-recommendation
      :label-data="memberLabel"
      :id-data="memberId"
      @clicked="chosenData"></user-other-recommendation>
    <!-- SEARCH BAR -->
  </v-container>
</template>

<script>
import UserEditRecommendation from '../../js/recommendation/UserEditRecommendation'

export default UserEditRecommendation
</script>
