<template>
   <v-container grid-list-xl>
      <!-- PROJECT DESCRIPTION -->
     <div v-if="checkMemberRecommendation === false">
       <v-alert
         :value="true"
         type="error"
         icon="fas fa-exclamation"
       >
         Seems your members are busy 😢 We can only recommend you with <strong>{{ projectInitData.value.members.length }} members</strong>.
         If you intend to have more individuals, please revoke one or more individuals from ongoing/planned projects
       </v-alert>
       <br>
     </div>
      <v-layout v-if="projectInitData !== null">
          <member-project-card
            :project-name="projectInitData.value.projectName"
            :project-description="projectInitData.value.description"
            :start-date="projectInitData.value.startDate"
            :end-date="projectInitData.value.endDate"
            :project-domain-card="projectInitData.value.projectDomain"
            :members="projectInitData.value.members"
            :member-label-card="projectInitData.value.labelNeeded"

          ></member-project-card>
      </v-layout>
      <!-- PROJECT DESCRIPTION -->

      <br>

      <!-- RECOMMENDATION RESULT -->
      <v-layout>
        <v-flex xs12>
         <div class="title">Recommendation Result</div>
      </v-flex>
      </v-layout>

      <br>

      <!-- ALTERNATIVE CARD -->
     <div v-if="renderComponent">
       <v-flex xs12 v-for="(member, index) in recommendationMembers" :key="index" v-model="member.name" no action>
         <v-layout v-if="member !== null">
           <v-flex xs12>
             <v-card style="border-radius:8px;">
               <v-layout>
                 <v-flex xs1>
                   <div v-if="member.img === 'default' || member.img === null">
                     <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                          style="width: 75px;margin-left: 10px;border-radius: 50%"/>
                   </div>
                   <div v-else>
                     <img :src="'/img/avatars/' + member.img + '.jpg'" alt="Avatar"
                          style="width: 75px;margin-left: 10px;border-radius: 50px"/>
                   </div>
                 </v-flex>
                 <v-flex xs4 style="margin-left:10px">
                   <!-- <v-card title primary-title> -->
                   <div class="headline">{{ member.name }} </div>
                   <div>{{ member.jobLevel }}</div>
                   <div class="primary--text"> Rate: {{ member.records.rateScore }} / 5
                     <span class="green--text" v-if="member.records.rateScore === 0"><strong><i class="fas fa-medal"></i>new member</strong></span>
                   </div>
                   <!-- </v-card> -->
                 </v-flex>

                 <v-divider vertical inset></v-divider>

                 <v-flex xs3 style="margin-left:10px;">
                   <br>
                   <div class="title">Recommendation role:</div>
                   <div class="h5" style="color: green;"><b>{{ member.label }}</b></div>
                 </v-flex>
                 <v-spacer></v-spacer>
                 <!--<v-flex justify-end>-->
                 <v-btn color="orange_base white--text" slot="activator" style="margin:30px 40px 20px 0;border-radius:8px"
                        @click="getCardID(member.id)">See details</v-btn>
                 <!--</v-flex>-->
               </v-layout>

               <v-slide-y-transition>
                 <div v-if="member.id === id" v-show="show">
                   <v-flex xs10>
                     <v-card-text>
                       <v-timeline dense clipped>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Responsibility</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.responsibilityScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Communication</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.communicationScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Team Work</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.teamWorkScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Problem Solving</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.problemSolvingScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Leadership</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.leadershipScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Domain Review:</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.domainScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Technical Review:</v-flex>
                             <v-flex xs5><strong class="blue_accent">{{ member.records.technicalScore }}</strong></v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Recent Project:</v-flex>
                             <v-flex xs5>
                               <h5>
                                <span v-for="(projectHistory, index) in member.projectHistory" :key="index">
                                  <div v-if="member.projectHistory.length !== 0">
                                    <span class="primary--text" v-for="(domainHistory, index2) in projectHistory.projectDomain" :key="index2">
                                      {{ domainHistory.name }}<span class="primary--text" v-if="index2 < projectHistory.projectDomain.length - 1">,</span>
                                    </span>
                                  </div>
                                  <div v-else>
                                    <span class="success--text" v-if="member.records.rateScore === 0">new member 🎊</span>
                                  </div>
                                </span>
                               </h5>
                             </v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7>Status:</v-flex>
                             <v-flex xs5>
                               <div v-if="member.status === true">
                                 <v-icon small color="green">fas fa-circle</v-icon>
                                 <strong> Available</strong>
                               </div>
                               <div v-else>
                                 <v-icon small color="red">fas fa-circle</v-icon>
                                 <strong> Out of Work</strong>
                               </div>
                             </v-flex>
                           </v-layout>
                         </v-timeline-item>
                         <v-timeline-item
                           class="mb-3"
                           color="grey"
                           icon-color="grey lighten-2"
                           small>
                           <v-layout justify-space-between>
                             <v-flex xs7><h5>Recommendation Role:</h5></v-flex>
                             <v-flex xs5><h4 class="orange_accent">{{member.label}}</h4></v-flex>
                           </v-layout>
                         </v-timeline-item>
                       </v-timeline>
                     </v-card-text>
                     <v-dialog v-model="dialog" max-width="80%">
                       <v-btn outline depressed color="orange_base" v-show="show" style="border-radius: 8px;" slot="activator" dark>Change</v-btn>
                       <v-card class="base">
                         <user-edit-recommendation
                           :member-id="member.id"
                           :member-label="member.label"
                           @chosen="updateRecommendationMembers"
                         >
                         </user-edit-recommendation>
                       </v-card>
                     </v-dialog>
                   </v-flex>
                 </div>
               </v-slide-y-transition>
             </v-card>
           </v-flex>
         </v-layout>
         <br>
       </v-flex>
     </div>

    <v-divider></v-divider>
    <v-btn block color="info"
           v-if="this.projectInitData.value.members.length !== null"
          :loading="loading"
          :disabled="loading"
           @click="acceptTeam"
           large
    >
      Accept Team
    </v-btn>
     <v-btn block color="info"
            v-else disabled>NO TEAM</v-btn>
    <!-- RECOMMENDATION RESULT -->

   </v-container>
</template>

<script>
import UserRecommendationResult from '../../js/recommendation/UserRecommendationResult'

export default UserRecommendationResult
</script>

<style scoped>
span {
   color: gray;
}

img {
   border-radius: 50%;
}

.blue_accent {
  color: #1991EB;
}

.orange_accent {
  color: #f7931e;
}

.theme--light.v-card {
  border-radius: 5px;
}
.custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
