<template>
  <v-container grid-list-xl>
    <v-layout>
      <v-flex xs12>
        <v-card style="border-radius: 8px">
          <v-layout row wrap>
            <v-flex xs3>
              <div v-if="member.value.img === 'default' || member.value.img === null">
                <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" alt="Avatar"
                     style="width: 75px;margin-left: 10px;border-radius: 50%"/>
              </div>
              <div v-else>
                <img :src="'/img/avatars/' + member.value.img + '.jpg'" alt="Avatar"
                     style="width: 150px;margin-left: 10px;border-radius: 50%"/>
              </div>
            </v-flex>
            <v-flex xs3>
              <br>
              <br>
              <div class="display-1">
                <strong>{{member.value.name}}</strong>
              </div>
            </v-flex>

            <v-divider vertical></v-divider>
            <v-spacer></v-spacer>
            <v-flex xs4>
              <br>
              <br>
              <div class="headline">
                {{member.value.jobLevel}}
              </div>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <br>

    <v-layout>
      <v-flex xs12>
        <v-card style="border-radius: 8px">
          <v-layout>
           <v-flex xs10 offset-xs1>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Rate score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.rateScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Responsibility score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.responsibilityScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Communication score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.communicationScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Leadership score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.leadershipScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Problem solving score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.problemSolvingScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Team Work score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.teamWorkScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Domain score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.domainScore}}</span>
               </v-flex>
             </v-layout>
             <v-layout>
               <v-flex xs6>
                 <span><strong>Technical score:</strong></span>
               </v-flex>
               <v-flex xs6>
                 <span>{{member.value.records.technicalScore}}</span>
               </v-flex>
             </v-layout>
           </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex justify-end>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <v-btn class="warning" slot="activator" dark>Change Password</v-btn>
          <v-card style="border-radius: 8px">
            <v-card-title>
              <span class="headline">Change Password</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field v-model="params.oldPassword" label="Old Password *" type="password" required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field v-model="params.newPassword" label="New Password *" type="password" required></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
              <v-btn color="blue darken-1" flat @click="updateMemberPassword">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import MemberProfile from '../../js/member/MemberProfile'

export default MemberProfile
</script>
