<template>
  <v-layout>
    <v-flex xs12>
      <v-card flat style="border-radius:8px;">
        <v-expansion-panel>
          <v-expansion-panel-content style="border-radius:8px;">
            <div slot="header">
              <v-layout>
                <v-flex xs1>
                  <br>
                  <v-icon large color="blue">far fa-file-alt</v-icon>
                </v-flex>
                <v-flex xs3>
                  <br>
                  <h4><b>{{ projectName }}</b></h4>
                  <br>
                </v-flex>

                <v-divider vertical inset></v-divider>

                <v-flex xs3>
                  <br>
                  <h6>Project Domain:
                    <span v-for="(projectDomain, i) in projectDomains" :key="i">
                         {{ projectDomain.name }}<span v-if="i < projectDomains.length-1">,</span>
                       </span>
                  </h6>
                </v-flex>

                <v-divider vertical inset></v-divider>

                <v-flex xs3>
                  <h6>{{ projectStartDate | moment("DD MMM YYYY") }} - {{ projectEndDate | moment("DD MMM YYYY")}}</h6>
                  <h6 v-if="getCurrentDate >= projectStartDate && projectEndDate >= getCurrentDate && projectStatus !== false" class="green_accent">
                    <strong>On Going</strong></h6>
                  <h6 v-else-if="getCurrentDate < projectStartDate && projectEndDate >= getCurrentDate && projectStatus !== false" class="orange_base--text">
                    <strong>Planned</strong></h6>
                  <h6 v-else class="red--text"><strong>Ended</strong></h6>
                </v-flex>
              </v-layout>
            </div>
            <v-flex xs10>
              <v-timeline dense clipped style="margin-left:5px;">
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>Duration:</v-flex>
                    <v-flex xs5><strong>{{ projectEndDate | moment("from", projectStartDate) }}</strong></v-flex>
                  </v-layout>
                </v-timeline-item>
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>Start Date:</v-flex>
                    <!--<v-flex xs5><strong>{{ project.startDate }}</strong></v-flex>-->
                    <v-flex xs5><strong>{{ projectStartDate | moment("DD MMM YYYY") }}</strong></v-flex>
                  </v-layout>
                </v-timeline-item>
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>End Date:</v-flex>
                    <!--<v-flex xs5><strong>{{ project.endDate }}</strong></v-flex>-->
                    <v-flex xs5><strong>{{ projectEndDate | moment("DD MMM YYYY") }}</strong></v-flex>
                  </v-layout>
                </v-timeline-item>
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>Number of Individuals:</v-flex>
                    <v-flex xs5>
                      <strong>
                            <!--<span v-for="(member, index) in projectMembers.memberList" :key="index">-->
                              <!--<span v-if="member.id === projectId">-->
                                {{ projectMembers.memberList.length }}
                                <span v-if="projectMembers.memberList.length > 1">members</span>
                                <span v-else>member</span>
                              <!--</span>-->
                            <!--</span>-->
                      </strong>
                    </v-flex>
                  </v-layout>
                </v-timeline-item>
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>Detail Role Needed:</v-flex>
                    <v-flex xs5>
                      <strong>
                            <span v-for="(label, index) in projectLabelNeeded" :key="index">
                              {{ label.count }} {{ label.memberLabel.name }}<span v-if="index < projectLabelNeeded.length - 1">,</span>
                            </span>
                      </strong>
                    </v-flex>
                  </v-layout>
                </v-timeline-item>
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>Description:</v-flex>
                    <v-flex xs5><strong>{{ projectDescription }}</strong></v-flex>
                  </v-layout>
                </v-timeline-item>
                <v-timeline-item class="mb-3" color="grey" icon-color="grey lighten-2" small>
                  <v-layout justify-space-between>
                    <v-flex xs7>Members:</v-flex>
                    <v-flex xs5>
                            <!--<span v-for="(member, index) in projectMembers" :key="index">-->
                              <!--<span v-if="member.id === projectId">-->
                                <ul class="avatars">
                                <span v-for="(member, index) in projectMembers.memberList" :key="index">
                                  <li class="avatars__item">
                                    <div v-if="member.img === 'default' || member.img === null">
                                      <img src="http://kovus.com/working-docs/capacity/wp-content/uploads/2016/01/testi-3.jpg" class="avatars__img" />
                                    </div>
                                    <div v-else>
                                      <img :src="'/img/avatars/' + member.img + '.jpg'" class="avatars__img" />
                                    </div>
                                  </li>
                                </span>
                                </ul>
                              <!--</span>-->
                            <!--</span>-->
                    </v-flex>
                  </v-layout>
                </v-timeline-item>
              </v-timeline>
            </v-flex>
            <v-flex xs12>
              <v-layout justify-end>
                <v-flex xs2>
                  <v-btn outline large color="orange_base white--text" style="border-radius:8px;" @click="getProjectDetail(projectId)">Open</v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import MemberProjectHistory from '../../js/member/MemberProjectHistory'

export default MemberProjectHistory
</script>
