<template>
  <v-container grid-list-xl>

    <v-layout>
      <v-flex xs4>
        <div class="title">Project List</div>
      </v-flex>
      <v-spacer></v-spacer>
    </v-layout>

    <v-divider></v-divider>

    <v-flex xs12 v-for="(project, index) in this.memberDetailData.value.content" :key="index">
     <member-project-card-history
       :project-id="project.id"
       :project-name="project.name"
       :project-domains="project.projectDomains"
       :project-description="project.description"
       :project-start-date="project.startDate"
       :project-end-date="project.endDate"
       :project-status="project.status"
       :project-label-needed="project.projectLabelNeededs"
       :project-members="projectMembers[index]"
     >

     </member-project-card-history>
    </v-flex>
  </v-container>
</template>

<script>
import MemberProjectList from '../../js/member/MemberProjectList'

export default MemberProjectList
</script>
