<template>
  <!--<div id="app">-->
    <!--<div id="nav">-->
      <!--<router-link to="/">Home</router-link> |-->
      <!--<router-link to="/about">About</router-link>-->
    <!--</div>-->
    <!--<router-view/>-->
  <!--</div>-->
  <div v-if="authUser === null">
    <v-content>
      <router-view/>
    </v-content>
  </div>
  <div v-else>
    <v-app>
      <app-sidebar></app-sidebar>
      <app-header></app-header>
      <v-content>
        <router-view/>
      </v-content>
      <app-footer></app-footer>
    </v-app>
  </div>
</template>

<script>
import AppSidebar from '../src/components/base/Sidebar'
import AppHeader from '../src/components/base/Header'
import AppFooter from '../src/components/base/Footer'

export default {
  name: 'App',
  components: {
    AppHeader,
    AppSidebar,
    AppFooter
  },
  data () {
    return {

    }
  },
  computed: {
    authUser () {
      return window.localStorage.getItem('user')
    }
  },
  replace: false
}
</script>
